* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
}
html {
  font-family: "Montserrat";
  font-weight: regular;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
}

.main-section {
  position: relative;
  min-height: 800px;
  background-color: #F0F0F0;
  padding-top: 16px;
  overflow: hidden;
}
.main-section__nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 69px;
  align-items: center;
  font-weight: bold;
}
.main-section__logo {
  width: 134px;
}
.main-section__content-container {
  position: relative;
  display: flex;
  flex-direction: row;
}
.main-section__first-elipse {
  position: absolute;
  top: 129px;
  right: 80px;
}
.main-section__second-elipse {
  position: absolute;
  right: -120px;
  top: 650px;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
}
.nav-menu__list-item {
  margin-right: 64px;
  font-size: 18px;
}
.nav-menu__list-item:last-child {
  margin-right: 0px;
}
.nav-menu__list-item a {
  text-decoration: none;
  color: black;
}

.left-wrapper {
  position: relative;
}
.left-wrapper img {
  position: relative;
  z-index: 5;
}
.left-wrapper__rectangle-blue {
  position: absolute;
  z-index: 2;
  top: 150px;
  left: -50px;
  width: 565.95px;
  height: 220px;
  background: #5290EA;
  border-radius: 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: rotate(-64deg);
}
.left-wrapper__rectangle-orange {
  position: absolute;
  z-index: 3;
  top: 160px;
  left: -30px;
  width: 618px;
  height: 220px;
  border-radius: 100px;
  background: #F28B64;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: rotate(-50.806deg);
}
.left-wrapper__rectangle-grey {
  position: absolute;
  z-index: 1;
  width: 608.968px;
  height: 220px;
  top: 190px;
  left: 10px;
  border-radius: 100px;
  background: #E2E2E2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: rotate(-36.15deg);
}

.right-wrapper {
  width: 372px;
  position: absolute;
  top: 150px;
  right: 76px;
  z-index: 1;
}
.right-wrapper__icons-box {
  margin-bottom: 10px;
  padding-left: 10px;
}
.right-wrapper__title {
  margin-bottom: 10px;
}
.right-wrapper__text {
  margin: 0;
  font-size: 16px;
  margin-bottom: 20px;
}

.icons {
  display: inline-flex;
}
.icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #5290EA;
  border-radius: 100px;
  margin-right: 17px;
}
.icons__item:last-child {
  margin-right: 0px;
}
.icons__item i {
  font-size: 21px;
}

.title {
  font-size: 72px;
  position: relative;
  font-weight: bold;
}
.title__hr {
  width: 65px;
  position: absolute;
  bottom: 0px;
  margin: 0;
  border: none;
  border-top: 1px solid black;
}

.buttons {
  display: inline-flex;
}
.buttons__main-btn {
  margin-right: 32px;
  width: 200px;
  height: 60px;
  background: #F28B64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  border: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.buttons__icon-btn {
  display: inline-flex;
}
.buttons__icon-btn img {
  margin-right: 12px;
  align-items: center;
}
.buttons__text {
  font-size: 16px;
}

.elipse {
  width: 194px;
  height: 194px;
  background: linear-gradient(144deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.elipse_big1 {
  width: 282px;
  height: 282px;
  background: linear-gradient(144deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.elipse__subtract {
  width: 129px;
  height: 129px;
  border-radius: 150px;
  background: #F0F0F0;
}
.elipse__subtract_big {
  width: 188px;
  height: 188px;
}

.second-section {
  min-height: 700px;
}
.second-section__container {
  position: relative;
  padding-top: 32px;
}
.second-section__cards-box {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 25px;
}
.second-section__icons-item {
  margin-right: 50px;
}
.second-section__icons-item:last-child {
  margin-right: 0;
}
.second-section__icons-box {
  display: flex;
  justify-content: center;
}
.second-section__title {
  margin: 0;
  margin-bottom: 40px;
}
.second-section__first-elipse {
  position: absolute;
  top: 80px;
  right: -60px;
  z-index: -1;
}
.second-section__second-elipse {
  position: absolute;
  top: 364px;
  left: -60px;
  z-index: -1;
}

.cards-item {
  position: relative;
  width: 360px;
  height: 360px;
  background: #E2E2E2;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  margin-right: 30px;
}
.cards-item:last-child {
  margin-right: 0;
}
.cards-item__img {
  height: 335px;
}
.cards-item__text {
  width: 280px;
  font-size: 36px;
  text-align: center;
  transform: rotate(90deg);
  position: absolute;
  top: 109px;
  right: -45px;
  font-weight: bold;
}

.cards-item_orange {
  background: #F28B64;
}

.cards-item_blue {
  background: #5290EA;
}

.icons-item {
  display: inline-flex;
  align-items: center;
}
.icons-item__img {
  margin-right: 20px;
  width: 80px;
}
.icons-item__text {
  font-size: 18px;
}
.icons-item__text span {
  font-size: 48px;
  font-weight: bold;
}

.third-section {
  min-height: 640px;
  position: relative;
  background: #F0F0F0;
  z-index: 0;
  overflow: hidden;
}
.third-section__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 167px;
  padding-top: 46px;
}
.third-section__right-wrapper {
  max-width: 480px;
}
.third-section__right-title {
  margin-top: 0;
  margin-bottom: 20px;
}
.third-section__text {
  font-size: 18px;
  margin-bottom: 30px;
}
.third-section__first-elipse {
  position: absolute;
  top: 140px;
  left: 110px;
  z-index: -1;
}
.third-section__figure {
  position: absolute;
  z-index: -1;
  top: 249px;
  left: 15px;
}
.third-section__second-elipse {
  position: absolute;
  top: -120px;
  right: -255px;
  z-index: -1;
}

.title__hr_top {
  bottom: 75px;
}

.footer__img {
  position: absolute;
  margin-top: 0px;
  left: -250px;
  bottom: 0px;
}
.footer__container {
  min-height: 272px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__title {
  margin-top: 0px;
  padding-top: 39px;
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .main-section {
    min-height: 690px;
  }
  .container {
    width: 960px;
  }
  .left-wrapper img {
    width: 750px;
  }
  .left-wrapper__rectangle-blue {
    width: 500px;
    height: 200px;
  }
  .left-wrapper__rectangle-orange {
    width: 550px;
    height: 200px;
  }
  .left-wrapper__rectangle-grey {
    width: 500px;
    height: 200px;
  }
  .right-wrapper {
    top: 127px;
    right: 39px;
  }
  .main-section__first-elipse {
    right: 34px;
  }
  .main-section__second-elipse {
    top: 560px;
  }
  .second-section {
    min-height: 600px;
  }
  .second-section__cards-box {
    display: flex;
    justify-content: center;
  }
  .cards-item {
    width: 300px;
    height: 300px;
    margin-right: 20px;
  }
  .cards-item__img {
    height: 270px;
  }
  .cards-item__text {
    font-size: 30px;
    top: 90px;
    right: -60px;
  }
  .icons-item__img {
    margin-right: 7px;
  }
  .third-section__container {
    padding-left: 40px;
  }
  .third-section__right-wrapper {
    max-width: 450px;
    margin-right: 20px;
  }
  .third-section__second-elipse {
    right: -150px;
  }
}
@media (max-width: 991px) {
  .main-section {
    min-height: 510px;
  }
  .main-section__second-elipse {
    top: 400px;
  }
  .container {
    width: 720px;
  }
  .left-wrapper img {
    width: 550px;
  }
  .left-wrapper__rectangle-blue {
    width: 380px;
    height: 140px;
    top: 110px;
    left: -30px;
  }
  .left-wrapper__rectangle-orange {
    width: 410px;
    height: 140px;
    top: 130px;
    left: -20px;
  }
  .left-wrapper__rectangle-grey {
    width: 380px;
    height: 140px;
    top: 155px;
  }
  .title {
    font-size: 60px;
  }
  .right-wrapper {
    width: 320px;
    top: 60px;
    left: 400px;
  }
  .right-wrapper__title {
    font-size: 60px;
  }
  .right-wrapper__text {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .buttons__main-btn {
    font-size: 14px;
    height: 50px;
    width: 160px;
    margin-right: 12px;
  }
  .buttons__icon-btn {
    font-size: 14px;
  }
  .elipse {
    width: 150px;
    height: 150px;
    top: 70px;
  }
  .elipse__subtract {
    width: 100px;
    height: 100px;
  }
  .elipse__subtract_big {
    width: 170px;
    height: 170px;
  }
  .elipse_big1 {
    width: 250px;
    height: 250px;
  }
  .second-section {
    min-height: 450px;
  }
  .second-section__container {
    padding-top: 15px;
  }
  .second-section__cards-box {
    margin-bottom: 10px;
  }
  .second-section__title {
    margin-bottom: 20px;
  }
  .second-section__first-elipse {
    top: 45px;
    right: -30px;
  }
  .second-section__second-elipse {
    top: 245px;
    left: -30px;
  }
  .cards-item {
    width: 220px;
    height: 220px;
    margin-right: 20px;
  }
  .cards-item__img {
    height: 195px;
  }
  .cards-item__text {
    font-size: 22px;
    top: 60px;
    right: -80px;
  }
  .icons-item {
    margin-right: 20px;
  }
  .icons-item__img {
    width: 50px;
  }
  .icons-item__text {
    font-size: 14px;
  }
  .icons-item__text span {
    font-size: 30px;
  }
  .third-section {
    min-height: 500px;
  }
  .third-section__container {
    padding-left: 25px;
    padding-top: 25px;
  }
  .third-section__text {
    font-size: 1px;
    margin-bottom: 20px;
  }
  .third-section__right-wrapper {
    max-width: 330px;
    margin-right: 20px;
  }
  .third-section__second-elipse {
    right: -150px;
    top: -115px;
  }
  .third-section__first-elipse {
    top: 60px;
    left: 110px;
  }
  .third-section__figure {
    top: 170px;
    left: 15px;
  }
  .title__hr_top {
    bottom: 75px;
  }
  .footer__container {
    min-height: 210px;
  }
  .footer__img {
    width: 500px;
  }
  .footer__title {
    padding-top: 0px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 720px;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background: #5290EA;
    z-index: 20;
    transition: 0.6s all;
  }
  .nav-menu__list {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
    height: 100%;
  }
  .nav-menu__list-item {
    margin-right: 0;
    font-size: 20px;
  }
  .hamburger {
    width: 30px;
    position: fixed;
    top: 40px;
    right: 30px;
    height: 14px;
    z-index: 30;
  }
  .hamburger span {
    height: 2px;
    width: 100%;
    display: block;
    background: black;
    margin-bottom: 4px;
    transition: 1s all;
  }
  .hamburger span:last-child {
    margin-bottom: 0;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .nav-menu_active {
    right: 0px;
  }
  .third-section {
    min-height: 440px;
  }
  .third-section__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .third-section__right-wrapper {
    max-width: 580px;
    margin-right: 20px;
  }
  .third-section__left-wrapper {
    display: none;
  }
  .third-section__figure {
    display: none;
  }
  .third-section__first-elipse {
    top: 375px;
    left: -155px;
  }
  .title {
    font-size: 46px;
  }
  .title__hr_top {
    bottom: 45px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 530px;
  }
  .second-section__cards-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .second-section__title {
    padding-left: 30px;
  }
  .second-section__icons-box {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .second-section__cards-item {
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
  }
  .second-section__first-elipse {
    top: 25px;
    right: 65px;
  }
  .second-section__second-elipse {
    top: 950px;
    left: 50px;
  }
  .cards-item {
    margin-right: 0px;
  }
  .cards-item__img {
    height: 250px;
  }
  .cards-item__text {
    width: 270px;
    font-size: 28px;
    top: 115px;
    right: -45px;
  }
  .icons-item {
    width: 30%;
    margin-bottom: 20px;
    margin-left: 20px;
    align-items: center;
  }
  .third-section {
    min-height: 400px;
  }
  .third-section__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .third-section__right-wrapper {
    max-width: 500px;
    margin-right: 20px;
  }
  .third-section__left-wrapper {
    display: none;
  }
  .third-section__second-elipse {
    right: -150px;
    top: -115px;
  }
  .third-section__first-elipse {
    top: 325px;
    left: -140px;
  }
  .third-section__figure {
    display: none;
  }
  .title {
    font-size: 46px;
  }
  .title__hr_top {
    bottom: 50px;
  }
  .main-section {
    min-height: 400px;
  }
  .main-section__logo {
    width: 114px;
  }
  .main-section__content-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .main-section__first-elipse {
    top: -23px;
    right: 84px;
  }
  .main-section__second-elipse {
    right: -145px;
    top: 365px;
  }
  .left-wrapper {
    width: 100%;
    top: 65pxpx;
    left: 38px;
  }
  .right-wrapper {
    position: relative;
    top: 25px;
    left: 138px;
    width: 100%;
    margin-bottom: 50px;
  }
  .icons__item {
    width: 35px;
    height: 35px;
    margin-right: 12px;
  }
}
@media (max-width: 512px) {
  .container {
    width: 510px;
  }
  .title {
    font-size: 38px;
  }
  .title__hr_top {
    bottom: 38px;
  }
  .main-section {
    min-height: 400px;
  }
  .main-section__logo {
    width: 100px;
    padding-left: 20px;
  }
  .main-section__first-elipse {
    top: -32px;
  }
  .main-section__second-elipse {
    top: 238px;
  }
  .left-wrapper {
    top: -6px;
    left: 5px;
  }
  .right-wrapper {
    position: relative;
    top: 25px;
    left: 110px;
  }
  .icons__item {
    width: 35px;
    height: 35px;
    margin-right: 12px;
  }
}
@media (max-width: 481px) {
  .container {
    width: 430px;
  }
  .main-section__first-elipse {
    top: -20px;
    left: 246px;
  }
  .title {
    font-size: 32px;
  }
  .title__hr_top {
    bottom: 30px;
  }
  .right-wrapper {
    top: 38px;
    left: 57px;
  }
  .left-wrapper {
    top: -6px;
    left: 5px;
  }
  .left-wrapper img {
    width: 480px;
  }
  .left-wrapper__rectangle-blue {
    width: 350px;
    height: 120px;
    top: 102px;
    left: -58px;
  }
  .left-wrapper__rectangle-orange {
    width: 350px;
    height: 120px;
    top: 117px;
    left: -36px;
  }
  .left-wrapper__rectangle-grey {
    width: 350px;
    height: 120px;
    top: 129px;
  }
  .second-section__first-elipse {
    top: 10px;
    right: 12px;
  }
  .second-section__second-elipse {
    top: 942px;
    left: -10px;
  }
  .footer__img {
    width: 450px;
  }
}
@media (max-width: 430px) {
  .container {
    width: 400px;
  }
  .main-section__second-elipse {
    top: 265px;
    left: 365px;
  }
  .left-wrapper {
    top: 3px;
  }
  .footer__title {
    font-size: 28px;
  }
}
@media (max-width: 395px) {
  .container {
    width: 380px;
  }
  .right-wrapper {
    left: 27px;
  }
  .left-wrapper {
    left: -14px;
  }
  .main-section__first-elipse {
    top: -25px;
    left: 181px;
  }
  .main-section__second-elipse {
    left: 333px;
  }
  .footer__title {
    font-size: 30px;
  }
  .footer__img {
    width: 430px;
  }
  .second-section__icons-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .second-section__first-elipse {
    right: -5px;
  }
  .cards-item {
    margin-right: 0px;
  }
}
@media (max-width: 320px) {
  .container {
    width: 300px;
  }
  .main-section__first-elipse {
    top: 3px;
    left: 258px;
  }
  .main-section__second-elipse {
    display: none;
  }
  .title {
    font-size: 28px;
  }
  .title__hr_top {
    display: none;
  }
  .right-wrapper {
    left: 12px;
  }
  .icons__item {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: none;
  }
  .left-wrapper {
    left: -24px;
    top: 10px;
  }
  .left-wrapper img {
    width: 375px;
  }
  .left-wrapper__rectangle-blue {
    width: 300px;
    height: 100px;
    top: 85px;
    left: -49px;
  }
  .left-wrapper__rectangle-orange {
    width: 300px;
    height: 100px;
    top: 98px;
    left: -30px;
  }
  .left-wrapper__rectangle-grey {
    width: 300px;
    height: 100px;
    top: 106px;
    left: -3px;
  }
  .buttons__main-btn {
    font-size: 14px;
    height: 50px;
    width: 120px;
    margin-right: 12px;
  }
  .second-section__first-elipse {
    display: none;
  }
  .second-section__second-elipse {
    left: -30px;
  }
  .cards-item {
    margin-right: 0px;
  }
  .footer__container {
    min-height: 170px;
    width: 300px;
  }
  .footer__img {
    width: 400px;
  }
  .footer__title {
    font-size: 22px;
  }
  .third-section__right-wrapper {
    max-width: 280px;
  }
  .third-section__text {
    font-size: 14px;
  }
  .third-section__first-elipse {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */